<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReuseController</servlet-name>
        <servlet-class>controller.team.ReuseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>controller.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectConntroller</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <servlet-class>controller.login.GoogleSignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.login.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>controller.login.CheckEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetController</servlet-name>
        <servlet-class>controller.login.ResetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.login.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWordController</servlet-name>
        <servlet-class>controller.ChangePassWordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>controller.UploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangeController</servlet-name>
        <servlet-class>controller.SaveChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGoogleController</servlet-name>
        <servlet-class>controller.login.RegisterGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAssignmentServlet</servlet-name>
        <servlet-class>controller.assignment.ListAssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssignmentServlet</servlet-name>
        <servlet-class>controller.assignment.AddAssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemPermissionController</servlet-name>
        <servlet-class>controller.SystemPermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSettingController</servlet-name>
        <servlet-class>controller.SubjectSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAssignmentController</servlet-name>
        <servlet-class>controller.assignment.EditAssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebContactDetailController</servlet-name>
        <servlet-class>controller.WebContactDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTeamController</servlet-name>
        <servlet-class>controller.team.NewTeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneController</servlet-name>
        <servlet-class>controller.MilestoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTeamController</servlet-name>
        <servlet-class>controller.team.CreateTeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>common.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamListController</servlet-name>
        <servlet-class>controller.team.TeamListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDetailController</servlet-name>
        <servlet-class>controller.team.TeamDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTeamByUploadController</servlet-name>
        <servlet-class>controller.team.CreateTeamByUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.team.EditTeamMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMemberController</servlet-name>
        <servlet-class>controller.team.EditMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeListController</servlet-name>
        <servlet-class>controller.TraineeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceController</servlet-name>
        <servlet-class>controller.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListController</servlet-name>
        <servlet-class>controller.ClassListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadListController</servlet-name>
        <servlet-class>controller.evalcriteria.LoadListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangeController</servlet-name>
        <url-pattern>/savechange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <url-pattern>/GoogleSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetController</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DefaultController</servlet-name>
        <servlet-class>controller.DefaultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebContactListController</servlet-name>
        <servlet-class>controller.contact.WebContactListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectConntroller</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.contact.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassSettingController</servlet-name>
        <servlet-class>controller.ClassSettingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefaultController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGoogleController</servlet-name>
        <url-pattern>/regisgoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebContactListController</servlet-name>
        <url-pattern>/weblist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAssignmentServlet</servlet-name>
        <url-pattern>/list_ass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssignmentServlet</servlet-name>
        <url-pattern>/add_ass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemPermissionController</servlet-name>
        <url-pattern>/system_permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSettingController</servlet-name>
        <url-pattern>/subject_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassSettingController</servlet-name>
        <url-pattern>/classsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAssignmentController</servlet-name>
        <url-pattern>/edit_ass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebContactDetailController</servlet-name>
        <url-pattern>/webdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTeamController</servlet-name>
        <url-pattern>/list_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneController</servlet-name>
        <url-pattern>/milestone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTeamController</servlet-name>
        <url-pattern>/create_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamListController</servlet-name>
        <url-pattern>/list_of_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDetailController</servlet-name>
        <url-pattern>/team_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMemberController</servlet-name>
        <url-pattern>/edit_member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeListController</servlet-name>
        <url-pattern>/traineelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceController</servlet-name>
        <url-pattern>/attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTeamByUploadController</servlet-name>
        <url-pattern>/create_by_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReuseController</servlet-name>
        <url-pattern>/reuse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewEval</servlet-name>
        <servlet-class>controller.evalcriteria.AddNewEvalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvalDetailController</servlet-name>
        <servlet-class>controller.evalcriteria.EvalDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEvalController</servlet-name>
        <servlet-class>controller.evalcriteria.ListEvalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewEval</servlet-name>
        <url-pattern>/add_eval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEvalController</servlet-name>
        <url-pattern>/listeval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvalDetailController  </servlet-name>
        <url-pattern>/eval_detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTeamController</servlet-name>
        <servlet-class>controller.team.AddTeamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTeamController </servlet-name>
        <url-pattern>/add_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListController</servlet-name>
        <url-pattern>/classlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadListController</servlet-name>
        <url-pattern>/load_list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
                30
            </session-timeout>
    </session-config>
</web-app>
